---
import Processes from '../components/Processes'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Buscador de procesos publicos de la Dirección de Obras Municipales El Salvador'>
	<main class='my-10 w-full p-2'>
		<div class='text-slate-200 w-1/2 m-auto'>
			<h1 class='font-bold text-5xl tracking-wide'>
				Buscador de procesos de la <strong class='text-cyan-400'
					>Dirección de Obras Municipales</strong
				>
			</h1>
		</div>
		<div class='text-white w-1/2 my-6 p-3 text-justify font-light text-lg m-auto'>
			<p class='leading-6'>
				Encuentra las obras ejecutadas por la DOM en tu municipalidad, selecciona cualquier proceso
				para ver más detalles y guarda la ubicación para acceder rápidamente la próxima vez que vengas.
			</p>
		</div>
		<div></div>
		<section class='flex justify-center'>
			<Processes client:visible />
		</section>
	</main>
	<footer class='relative bottom-0 left-0 w-full h-fit flex justify-center'>
		<div class='flex flex-col gap-1 justify-center w-3/4'>
			<hr class='w-full flex m-auto border-slate-600' />
			<p class='text-center text-xs italic text-slate-600 mb-1'>
				Los datos son obtenidos desde la API de la Dirección de Obras Municipales, si eres una
				persona o empresa que desea obtener más información sobre los procesos visita el sitio web
				oficial <a
					href='https://sistemas.obrasmunicipales.gob.sv/procesos/publico'
					class='decoration-clone text-cyan-500'>sistemas.obrasmunicipales.gob.sv</a
				>.
			</p>
		</div>
	</footer>
</Layout>
