<html lang='es'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />
		<title>Procesos de la Dirección de Obras Municipales El Salvador</title>
		<link rel='preconnect' href='https://fonts.googleapis.com' />
		<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
		<link
			href='https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap'
			rel='stylesheet'
		/>
	</head>
	<body class='min-h-screen bg-darkBlue font-body'>
		<div class='mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 relative pt-20 pb-16 lg:pt-32'>
			<div
				class='-z-1 max-w-lg m-auto h-[27rem] sm:h-64 sm:max-w-7xl origin-center rotate-12 bg-gradient blur-gradient'
			>
			</div>
		</div>
		<div class='absolute inset-0 w-full h-full text-center flex justify-center'>
			<slot />
		</div>
	</body>
</html>
