---
const { title } = Astro.props
import '../styles/global.css'
---

<html lang='es' class="scroll-smooth">
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/images/icon.svg' />
		<meta name='viewport' content='width=device-width' />
		<meta name="robots" content="index, follow">
		<meta name='generator' content={Astro.generator} />
		<title>{ title }</title>
		<link rel="canonical" href={Astro.url.href} />
		<meta name="description" content="Navega a través de los procesos de la DOM en tu municipalidad. Busca tu municipio en el buscador y guárdalo con el marcador para acceder a él rápidamente la próxima vez que visites el sitio." />
		<meta property="og:image" content="/images/og.jpg" />
		<meta property="og:description" content="Navega a través de los procesos de la DOM en tu municipalidad. Busca tu municipio en el buscador y guárdalo con el marcador para acceder a él rápidamente la próxima vez que visites el sitio." />
		<meta property="og:url" content={Astro.url.href} />
		<meta property="og:locale" content="es_SV" />
		<meta property="og:type" content="website" />
		<link href="/fonts/Roboto-Light.woff2" rel="preload" type="font/woff2" as="font" fetchpriority="high" crossorigin />
		<link href="/fonts/Roboto-Regular.woff2" rel="preload" type="font/woff2" as="font" fetchpriority="high" crossorigin />
		<link href="/fonts/Roboto-Medium.woff2" rel="preload" type="font/woff2" as="font" fetchpriority="high" crossorigin />
		<link href="/fonts/Roboto-Bold.woff2" rel="preload" type="font/woff2" as="font" fetchpriority="high" crossorigin />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" fetchpriority="high" />
	</head>
	<body class='min-h-screen bg-darkBlue font-body text-white overflow-hidden'>
		<div class='mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 relative pt-20 pb-16 lg:pt-32 overflow-hidden blur-gradient'>
			<div
				class='-z-1 max-w-lg m-auto h-[27rem] sm:h-64 sm:max-w-7xl origin-center rotate-12 bg-gradient'
			>
			</div>
		</div>
		<div id="cont-main" class='absolute inset-0 w-full h-full text-center flex flex-col justify-between overflow-y-auto'>
			<slot />
		</div>
	</body>
</html>

<style>
	@font-face {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 300;
		font-display: swap;
		src: url('/fonts/Roboto-Light.woff2') format('woff2');
	}

	@font-face {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url('/fonts/Roboto-Regular.woff2') format('woff2');
	}

	@font-face {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 500;
		font-display: swap;
		src: url('/fonts/Roboto-Medium.woff2') format('woff2');
	}

	@font-face {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 700;
		font-display: swap;
		src: url('/fonts/Roboto-Bold.woff2') format('woff2');
	}

	html, body {
		font-family: 'Archivo', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	}
</style>
